CONFIG_ARM=y
CONFIG_ARCH_IPQ40XX=y
CONFIG_TARGET_SENAO_EAP1300=y
CONFIG_SYS_LOAD_ADDR=0x87300000
CONFIG_SYS_ARCH_TIMER=y
CONFIG_DRIVER_GICV2=y

CONFIG_OF_UPSTREAM=n
CONFIG_DEFAULT_DEVICE_TREE="ipq40xx"

CONFIG_LOG=y
CONFIG_EFI_LOADER=n
